<div class="row">
    <div class="col-md-6">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn text-magenta">
            <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
        </a>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div [ngClass]="{'col-md-12': !isEditable, 'col-md-10': isEditable}">
        <app-menu-details></app-menu-details>
    </div>
    <div class="col-md-2" *ngIf="isEditable">
        <app-menu-sidebar></app-menu-sidebar>
    </div>
</div>