<div class="row fixed-bottom" [ngClass]="{'bg-magenta': !darkMode, 'bg-dark': darkMode}">
    <div class="row">
        <div class="col-md-12 text-light">
            <p class="text-center mb-0">
                Copyright &copy; 2022 T-Mobile Corporation. All Rights Reserved. &nbsp;
                <a href='http://www.sprint.com/legal/copyright.html' target="_blank"
                    [ngClass]="{'text-dark': !darkMode, 'text-muted': darkMode}">Copyright and Disclaimer Notice.</a>
            </p>
        </div>
    </div>
</div>